#conteiner {
    width:90%;
    overflow-x: scroll;
    margin-left: 9%;
    position: absolute;
    bottom: 0px;
}
#tables {
    width: 100%;
    height:160px;
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
}

table.energy {
    float:left;
}